
@import 'react-toastify/dist/ReactToastify.css';

.login-bg{
background-image: url(../src/assets/bg3.png);
background-size: cover;
/* background-repeat: no-repeat; */
background-position: center;
}

.login-form{
    background-color: rgba(49, 89, 81, 0.9);
}

.main-color {
    color : rgba(239, 155, 40, 1)
}

.input-group input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(211, 208, 208, 0.295);
    color: white;
}

.login-links a {
    text-decoration: none;
    color: white;
}

.form-button{
    background-color: rgba(239, 155, 40, 1);
    border: 1px solid rgba(239, 155, 40, 1) ;
}