
@import 'react-toastify/dist/ReactToastify.css';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-bg{
background-image: url(../src/assets/bg3.png);
background-size: cover;
background-position: center;
}

.login-form{
    background-color: var(--main-bg-color);
}

:root {
    --main-color:rgba(239, 155, 40, 1);
    --main-bg-color: rgba(49, 89, 81, 0.9);
    --second-bg-color :  rgba(211, 211, 211, 0.192);
}

.input-group input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(211, 208, 208, 0.295);
    color: white;
}

.login-links a {
    text-decoration: none;
    color: white;
}

.login-form h2 , label {
    color : var(--main-color)
}

.form-button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color) ;
}

.projects-container a {
    background-color: var(--main-color);
    color :white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.projectsdata-container a{
text-decoration: none;
}

.projectsData{
background-color: var(--second-bg-color);
}

.projects-crud{
    background-color: aqua;
}